*{
    background-color: #a6826a;
}
.title {
    color: rgb(112, 48, 48);color: rgb(112, 48, 48);
    font-family:Arial, Helvetica, sans-serif ;
}

.title.content{
    color:rgb(114, 50, 50);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
